In [1]:
import pandas as pd
import numpy as np

In [80]:
player_appear_totals = pd.read_csv('Raw Datasets\PlayerAppearTotals.csv')
player_appear_totals.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_27036\2529031504.py:1: SyntaxWarning: invalid escape sequence '\P'
  player_appear_totals = pd.read_csv('Raw Datasets\PlayerAppearTotals.csv')

   Unnamed: 0             Player Appearances
0           0  Cristiano Ronaldo         183
1           1      Iker Casillas         177
2           2       Lionel Messi         156
3           3     Xavi Hernández         151
4           4      Karim Benzema        (12)

In [81]:
player_appear_totals = player_appear_totals.drop(columns=["Unnamed: 0"])
player_appear_totals.head()

              Player Appearances
0  Cristiano Ronaldo         183
1      Iker Casillas         177
2       Lionel Messi         156
3     Xavi Hernández         151
4      Karim Benzema        (12)

In [86]:
player_appear_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       277 non-null    object
 1   Appearances  277 non-null    Int64
dtypes: Int64(1), object(1)
memory usage: 4.7+ KB

In [83]:
player_appear_totals.duplicated().sum()

0

In [84]:
player_appear_totals.isnull().sum()

Player         0
Appearances    0
dtype: int64

In [87]:
player_appear_totals.describe(include='all')

                   Player  Appearances
count                 277        277.0
unique                277         <NA>
top     Cristiano Ronaldo         <NA>
freq                    1         <NA>
mean                  NaN    72.772563
std                   NaN     27.29221
min                   NaN         10.0
25%                   NaN         60.0
50%                   NaN         70.0
75%                   NaN         82.0
max                   NaN        183.0

In [85]:
player_appear_totals["Appearances"] = (
    player_appear_totals["Appearances"]
    .astype(str)
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

player_appear_totals['Appearances'] = pd.to_numeric(player_appear_totals['Appearances'], errors='coerce').astype('Int64')

In [88]:
player_appear_totals.to_csv(
    "Transformed Datasets/player_appear_totals.csv",
    index=False
)

In [89]:
player_goal_totals = pd.read_csv('Raw Datasets\PlayerGoalTotals.csv')
player_goal_totals.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_27036\3042437722.py:1: SyntaxWarning: invalid escape sequence '\P'
  player_goal_totals = pd.read_csv('Raw Datasets\PlayerGoalTotals.csv')

   Unnamed: 0              Player Goals
0           0             Ronaldo   140
1           1        Lionel Messi   125
2           2       Karim Benzema  (15)
3           3  Robert Lewandowski  (13)
4           4       Raúl González    71

In [90]:
player_goal_totals = player_goal_totals.drop(columns=['Unnamed: 0'])

In [95]:
player_goal_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  186 non-null    object
 1   Goals   186 non-null    Int64
dtypes: Int64(1), object(1)
memory usage: 3.2+ KB

In [92]:
player_goal_totals.duplicated().sum()

0

In [93]:
player_goal_totals.isnull().sum()

Player    0
Goals     0
dtype: int64

In [94]:
player_goal_totals["Goals"] = (
    player_goal_totals["Goals"]
    .astype(str)
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

player_goal_totals['Goals'] = pd.to_numeric(player_goal_totals['Goals'], errors='coerce').astype('Int64')

In [96]:
player_goal_totals.describe(include='all')

         Player      Goals
count       186      186.0
unique      185       <NA>
top     Ronaldo       <NA>
freq          2       <NA>
mean        NaN  19.467742
std         NaN   15.45146
min         NaN       10.0
25%         NaN       11.0
50%         NaN       15.0
75%         NaN       21.0
max         NaN      140.0

In [97]:
player_goal_totals[player_goal_totals["Goals"] < 0]

Empty DataFrame
Columns: [Player, Goals]
Index: []

In [98]:
player_goal_totals.to_csv(
    "Transformed Datasets/player_goal_totals.csv",
    index=False
)

In [66]:
player_appear_details = pd.read_csv('Raw Datasets\PlayerAppearDetails.csv')
player_appear_details.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_27036\2677665633.py:1: SyntaxWarning: invalid escape sequence '\P'
  player_appear_details = pd.read_csv('Raw Datasets\PlayerAppearDetails.csv')

   Unnamed: 0             Player                  Club Appearances
0           0  Cristiano Ronaldo        Real Madrid CF         101
1           1  Cristiano Ronaldo              Juventus          23
2           2  Cristiano Ronaldo  Manchester United FC          59
3           3      Iker Casillas        Real Madrid CF         150
4           4      Iker Casillas              FC Porto          27

In [67]:
player_appear_details = player_appear_details.drop(columns=['Unnamed: 0'])

In [68]:
player_appear_details.duplicated().sum()

0

In [69]:
player_appear_details.isnull().sum()

Player         0
Club           0
Appearances    0
dtype: int64

In [76]:
player_appear_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       663 non-null    object
 1   Club         663 non-null    object
 2   Appearances  663 non-null    Int64
dtypes: Int64(1), object(2)
memory usage: 16.3+ KB

In [75]:
# Step 1: Normalize representation (remove brackets ONLY)
player_appear_details["Appearances"] = (
    player_appear_details["Appearances"]
    .astype(str)
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

# Step 2: Convert safely to numeric
player_appear_details["Appearances"] = pd.to_numeric(
    player_appear_details["Appearances"],
    errors="coerce"
).astype('Int64')

In [77]:
player_appear_details.describe(include='all')

                    Player            Club  Appearances
count                  663             663        663.0
unique                 277              67         <NA>
top     Zlatan Ibrahimović  Real Madrid CF         <NA>
freq                     7              56         <NA>
mean                   NaN             NaN    32.242836
std                    NaN             NaN    28.542487
min                    NaN             NaN          0.0
25%                    NaN             NaN         10.0
50%                    NaN             NaN         23.0
75%                    NaN             NaN         48.0
max                    NaN             NaN        151.0

In [78]:
player_appear_details.to_csv(
    "Transformed Datasets/player_appear_details.csv",
    index=False
)

In [101]:
player_total_appearances = (
    player_appear_details
    .groupby("Player", as_index=False)["Appearances"]
    .sum()
)

player_total_appearances.head()

               Player  Appearances
0        Aaron Ramsey           58
1             Adriano           56
2       Adrien Rabiot           55
3  Aleksandar Kolarov           57
4      Aleksandr Hleb           58

In [103]:
player_total_appearances.describe()

       Appearances
count        277.0
mean     77.173285
std      23.143979
min           10.0
25%           62.0
50%           71.0
75%           83.0
max          183.0

In [104]:
player_total_appearances.to_csv(
    "Transformed Datasets/player_total_appearances.csv",
    index=False     
)

In [10]:
player_goal_details = pd.read_csv('Raw Datasets\PlayerGoalDetails.csv')
player_goal_details.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\1246423881.py:1: SyntaxWarning: invalid escape sequence '\P'
  player_goal_details = pd.read_csv('Raw Datasets\PlayerGoalDetails.csv')

   Unnamed: 0        Player                  Club Goals
0           0       Ronaldo        Real Madrid CF   105
1           1       Ronaldo              Juventus    14
2           2       Ronaldo  Manchester United FC    21
3           3  Lionel Messi          FC Barcelona   120
4           4  Lionel Messi   Paris Saint-Germain     5

In [11]:
player_goal_details = player_goal_details.drop(columns=['Unnamed: 0'])

In [17]:
player_goal_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  388 non-null    object
 1   Club    388 non-null    object
 2   Goals   388 non-null    Int64
dtypes: Int64(1), object(2)
memory usage: 9.6+ KB

In [13]:
player_goal_details.duplicated().sum()

0

In [14]:
player_goal_details.isnull().sum()

Player    0
Club      0
Goals     0
dtype: int64

In [15]:
player_goal_details['Goals'] = (
    player_goal_details['Goals']
    .astype(str)
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [16]:
player_goal_details['Goals'] = pd.to_numeric(player_goal_details['Goals'], errors='coerce').astype('Int64')

In [19]:
player_goal_details.describe(include='all')

                    Player            Club      Goals
count                  388             388      388.0
unique                 185              60       <NA>
top     Zlatan Ibrahimović  Real Madrid CF       <NA>
freq                     7              31       <NA>
mean                   NaN             NaN   9.688144
std                    NaN             NaN  11.961746
min                    NaN             NaN        0.0
25%                    NaN             NaN        3.0
50%                    NaN             NaN        7.0
75%                    NaN             NaN       12.0
max                    NaN             NaN      120.0

In [20]:
player_goal_details.to_csv(
    "Transformed Datasets/player_goal_details.csv",
    index=False
)

In [21]:
coaches_appear_details = pd.read_csv('Raw Datasets\CoachesAppearDetails.csv')
coaches_appear_details.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\2919962295.py:1: SyntaxWarning: invalid escape sequence '\C'
  coaches_appear_details = pd.read_csv('Raw Datasets\CoachesAppearDetails.csv')

   Unnamed: 0              Coach                  Club  Appearance
0           0  Sir Alex Ferguson  Manchester United FC         190
1           1    Carlo Ancelotti     FC Bayern München          12
2           2    Carlo Ancelotti              Juventus          10
3           3    Carlo Ancelotti            Chelsea FC          18
4           4    Carlo Ancelotti              AC Milan          73

In [22]:
coaches_appear_details = coaches_appear_details.drop(columns=['Unnamed: 0'])

In [23]:
coaches_appear_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Coach       112 non-null    object
 1   Club        112 non-null    object
 2   Appearance  112 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.8+ KB

In [24]:
coaches_appear_details.duplicated().sum()

0

In [25]:
coaches_appear_details.isnull().sum()

Coach         0
Club          0
Appearance    0
dtype: int64

In [26]:
coaches_appear_details.describe(include='all')

                  Coach            Club  Appearance
count               112             112  112.000000
unique               39              49         NaN
top     Carlo Ancelotti  Real Madrid CF         NaN
freq                  8               9         NaN
mean                NaN             NaN   26.276786
std                 NaN             NaN   28.716448
min                 NaN             NaN    1.000000
25%                 NaN             NaN    8.000000
50%                 NaN             NaN   17.000000
75%                 NaN             NaN   34.250000
max                 NaN             NaN  190.000000

In [27]:
coaches_appear_details.to_csv(
    "Transformed Datasets/coaches_appear_details.csv",
    index=False    
)

In [28]:
coaches_appear_totals = pd.read_csv('Raw Datasets\CoachesAppearTotals.csv')
coaches_appear_totals.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\2652889282.py:1: SyntaxWarning: invalid escape sequence '\C'
  coaches_appear_totals = pd.read_csv('Raw Datasets\CoachesAppearTotals.csv')

   Unnamed: 0              Coach  Appearance
0           0  Sir Alex Ferguson         190
1           1    Carlo Ancelotti         179
2           2      Arsène Wenger         178
3           3    Josep Guardiola         147
4           4      José Mourinho         145

In [30]:
coaches_appear_totals = coaches_appear_totals.drop(columns=['Unnamed: 0'])

In [31]:
coaches_appear_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Coach       39 non-null     object
 1   Appearance  39 non-null     int64
dtypes: int64(1), object(1)
memory usage: 756.0+ bytes

In [32]:
coaches_appear_totals.describe(include='all')

                    Coach  Appearance
count                  39   39.000000
unique                 39         NaN
top     Sir Alex Ferguson         NaN
freq                    1         NaN
mean                  NaN   75.461538
std                   NaN   41.032623
min                   NaN   40.000000
25%                   NaN   47.500000
50%                   NaN   57.000000
75%                   NaN   93.000000
max                   NaN  190.000000

In [33]:
coaches_appear_totals.to_csv(
    "Transformed Datasets/coaches_appear_totals.csv",
    index=False
)

In [81]:
goal_stats_per_group_round = pd.read_csv('Raw Datasets\GoalStatsPerGroupRound.csv')
goal_stats_per_group_round.head()

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\2690227552.py:1: SyntaxWarning: invalid escape sequence '\G'
  goal_stats_per_group_round = pd.read_csv('Raw Datasets\GoalStatsPerGroupRound.csv')

,Unnamed: 0,Season,G,Gls,Av,A,B,C,D,E,F,G.1,H,R16,QF,SF,F.1
0,0,1992/93,25,56,2.24,28,27,-,-,-,-,-,-,-,-,-,1
1,1,1993/94,27,71,2.63,29,32,-,-,-,-,-,-,-,-,6,4
2,2,1994/95,61,140,2.29,35,33,25,22,-,-,-,-,-,14,10,1
3,3,1995/96,61,159,2.61,26,36,31,38,-,-,-,-,-,15,11,2
4,4,1996/97,61,161,2.64,29,37,22,39,-,-,-,-,-,20,10,4

In [82]:
goal_stats_per_group_round = goal_stats_per_group_round.drop(columns=['Unnamed: 0'])

In [83]:
goal_stats_per_group_round.info()
goal_stats_per_group_round.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  34 non-null     object
 1   G       34 non-null     object
 2   Gls     34 non-null     object
 3   Av      34 non-null     object
 4   A       34 non-null     int64
 5   B       34 non-null     int64
 6   C       34 non-null     object
 7   D       34 non-null     object
 8   E       34 non-null     object
 9   F       34 non-null     object
 10  G.1     34 non-null     object
 11  H       34 non-null     object
 12  R16     34 non-null     object
 13  QF      34 non-null     object
 14  SF      34 non-null     object
 15  F.1     34 non-null     object
dtypes: int64(2), object(14)
memory usage: 4.4+ KB

Index(['Season', 'G', 'Gls', 'Av', 'A', 'B', 'C', 'D', 'E', 'F', 'G.1', 'H',
       'R16', 'QF', 'SF', 'F.1'],
      dtype='object')

In [84]:
goal_stats_per_group_round = goal_stats_per_group_round.rename(columns={
    'Season': 'season',
    'G': 'matches',
    'Gls': 'total_goals',
    "Av": "avg_goals_per_match",
    "A": "group_a_goals",
    "B": "group_b_goals",
    "C": "group_c_goals",
    "D": "group_d_goals",
    "E": "group_e_goals",
    "F": "group_f_goals",
    "G.1": "group_g_goals",
    "H": "group_h_goals",
    "R16": "round_of_16_goals",
    "QF": "quarter_final_goals",
    "SF": "semi_final_goals",
    "F.1": "final_goals"
})

goal_stats_per_group_round.columns

Index(['season', 'matches', 'total_goals', 'avg_goals_per_match',
       'group_a_goals', 'group_b_goals', 'group_c_goals', 'group_d_goals',
       'group_e_goals', 'group_f_goals', 'group_g_goals', 'group_h_goals',
       'round_of_16_goals', 'quarter_final_goals', 'semi_final_goals',
       'final_goals'],
      dtype='object')

In [85]:
goal_stats_per_group_round['season'] = goal_stats_per_group_round['season'].astype(str)

In [86]:
numeric_columns = goal_stats_per_group_round.columns.drop('season')

In [87]:
goal_stats_per_group_round[numeric_columns] = goal_stats_per_group_round[numeric_columns].apply(pd.to_numeric, errors='coerce')
goal_stats_per_group_round.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   season               34 non-null     object
 1   matches              30 non-null     float64
 2   total_goals          30 non-null     float64
 3   avg_goals_per_match  30 non-null     float64
 4   group_a_goals        34 non-null     int64
 5   group_b_goals        34 non-null     int64
 6   group_c_goals        32 non-null     float64
 7   group_d_goals        32 non-null     float64
 8   group_e_goals        25 non-null     float64
 9   group_f_goals        25 non-null     float64
 10  group_g_goals        23 non-null     float64
 11  group_h_goals        23 non-null     float64
 12  round_of_16_goals    19 non-null     float64
 13  quarter_final_goals  28 non-null     float64
 14  semi_final_goals     29 non-null     float64
 15  final_goals          30 non-null     float64
dtypes: float64(13), int64(2), object(1)
memory usage: 4.4+ KB

In [88]:
goal_stats_per_group_round[numeric_columns].isnull().sum()

matches                 4
total_goals             4
avg_goals_per_match     4
group_a_goals           0
group_b_goals           0
group_c_goals           2
group_d_goals           2
group_e_goals           9
group_f_goals           9
group_g_goals          11
group_h_goals          11
round_of_16_goals      15
quarter_final_goals     6
semi_final_goals        5
final_goals             4
dtype: int64

In [89]:
goal_stats_per_group_round[numeric_columns] = goal_stats_per_group_round[numeric_columns].fillna(0)

In [90]:
stage_cols = [
    "group_a_goals", "group_b_goals", "group_c_goals", "group_d_goals",
    "group_e_goals", "group_f_goals", "group_g_goals", "group_h_goals",
    "round_of_16_goals", "quarter_final_goals",
    "semi_final_goals", "final_goals"
]

goal_stats_per_group_round['stage_goal_sum'] = goal_stats_per_group_round[stage_cols].sum(axis=1)

goal_stats_per_group_round[["season", "total_goals", "stage_goal_sum"]].head()

    season  total_goals  stage_goal_sum
0  1992/93         56.0            56.0
1  1993/94         71.0            71.0
2  1994/95        140.0           140.0
3  1995/96        159.0           159.0
4  1996/97        161.0           161.0

In [92]:
goal_stats_per_group_round = goal_stats_per_group_round.drop(columns=['stage_goal_sum'])

In [95]:
goal_stats_per_group_round.to_csv(
    "Transformed Datasets/goal_stats_per_group_round.csv",
    index=False
)

In [96]:
all_time_ranking_by_country = pd.read_csv('Raw Datasets\AllTimeRankingByCountry.csv')
all_time_ranking_by_country.head()

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\3299290012.py:1: SyntaxWarning: invalid escape sequence '\A'
  all_time_ranking_by_country = pd.read_csv('Raw Datasets\AllTimeRankingByCountry.csv')

,Unnamed: 0,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
0,1,Spain,148,19,1349,705,306,338,2427,1446,1716,981
1,2,England,136,14,1239,655,271,313,2218,1266,1581,952
2,3,Germany,166,8,1176,554,242,380,2070,1538,1350,532
3,4,Italy,138,12,1086,508,278,300,1662,1176,1294,486
4,5,France,115,1,794,331,175,288,1187,981,837,206

In [97]:
all_time_ranking_by_country = all_time_ranking_by_country.drop(columns=['Unnamed: 0'])

In [98]:
all_time_ranking_by_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        54 non-null     object
 1   Participated   54 non-null     int64
 2   Titles         54 non-null     int64
 3   Played         54 non-null     int64
 4   Win            54 non-null     int64
 5   Draw           54 non-null     int64
 6   Loss           54 non-null     int64
 7   Goals For      54 non-null     int64
 8   Goals Against  54 non-null     int64
 9   Pts            54 non-null     int64
 10  Goal Diff      54 non-null     int64
dtypes: int64(10), object(1)
memory usage: 4.8+ KB

In [99]:
all_time_ranking_by_country.to_csv(
    "Transformed Datasets/all_time_ranking_by_country.csv",
    index=False
)

In [110]:
top_goal_scorer = pd.read_csv('Raw Datasets\TopGoalScorer.csv')
top_goal_scorer.head()

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Satvik\AppData\Local\Temp\ipykernel_25372\460660382.py:1: SyntaxWarning: invalid escape sequence '\T'
  top_goal_scorer = pd.read_csv('Raw Datasets\TopGoalScorer.csv')

,Unnamed: 0,Year,Player,Club,Goals,Appearances
0,0,1992/93,Franck Sauzée,Olympique de Marseille,5 goals,7 appearances
1,1,1993/94,Hristo Stoichkov,FC Barcelona,5 goals,6 appearances
2,2,1994/95,George Weah,Paris Saint-Germain,7 goals,10 appearances
3,3,1995/96,Jari Litmanen,AFC Ajax,9 goals,10 appearances
4,4,1996/97,Milinko Pantić,Club Atlético de Madrid,5 goals,8 appearances

In [111]:
top_goal_scorer = top_goal_scorer.drop(columns=['Unnamed: 0'])

In [112]:
top_goal_scorer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         35 non-null     object
 1   Player       35 non-null     object
 2   Club         35 non-null     object
 3   Goals        35 non-null     object
 4   Appearances  34 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [113]:
top_goal_scorer = top_goal_scorer.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [114]:
idx_26 = 26
if top_goal_scorer.iloc[idx_26]['Player'] == 'Neymar':
    top_goal_scorer.at[idx_26, 'Club'] = 'FC Barcelona'
    top_goal_scorer.at[idx_26, 'Goals'] = '10'
    top_goal_scorer.at[idx_26, 'Appearances'] = '12'

In [115]:
# Extract numeric part from Goals and convert to int
top_goal_scorer['Goals'] = (
    top_goal_scorer['Goals']
    .astype(str)
    .str.extract(r'(\d+)')[0]
)
top_goal_scorer['Goals'] = pd.to_numeric(top_goal_scorer['Goals'], errors='coerce').astype('Int64')

In [116]:
# Extract numeric part from Appearances and convert to int
top_goal_scorer['Appearances'] = (
    top_goal_scorer['Appearances']
    .astype(str)
    .str.extract(r'(\d+)')[0]
)
top_goal_scorer['Appearances'] = pd.to_numeric(top_goal_scorer['Appearances'], errors='coerce').astype('Int64')

In [117]:
top_goal_scorer

       Year                Player                     Club  Goals  Appearances
0   1992/93         Franck Sauzée   Olympique de Marseille      5            7
1   1993/94      Hristo Stoichkov             FC Barcelona      5            6
2   1994/95           George Weah      Paris Saint-Germain      7           10
3   1995/96         Jari Litmanen                 AFC Ajax      9           10
4   1996/97        Milinko Pantić  Club Atlético de Madrid      5            8
5   1997/98  Alessandro Del Piero                 Juventus     10           10
6   1998/99     Andriy Shevchenko           FC Dynamo Kyiv      8           10
7   1998/99          Dwight Yorke     Manchester United FC      8           11
8   1999/00          Mário Jardel                 FC Porto     10           13
9   1999/00               Rivaldo             FC Barcelona     10           14
10  1999/00         Raúl González           Real Madrid CF     10           15
11  2000/01         Raúl González           Real Madrid CF      7           12
12  2001/02   Ruud van Nistelrooy     Manchester United FC     10           14
13  2002/03   Ruud van Nistelrooy     Manchester United FC     12            9
14  2003/04    Fernando Morientes             AS Monaco FC      9           12
15  2004/05   Ruud van Nistelrooy     Manchester United FC      8            7
16  2005/06     Andriy Shevchenko                 AC Milan      9           12
17  2006/07                  Kaká                 AC Milan     10           13
18  2007/08     Cristiano Ronaldo     Manchester United FC      8           11
19  2008/09          Lionel Messi             FC Barcelona      9           12
20  2009/10          Lionel Messi             FC Barcelona      8           11
21  2010/11          Lionel Messi             FC Barcelona     12           13
22  2011/12          Lionel Messi             FC Barcelona     14           11
23  2012/13     Cristiano Ronaldo           Real Madrid CF     12           12
24  2013/14     Cristiano Ronaldo           Real Madrid CF     17           11
25  2014/15     Cristiano Ronaldo           Real Madrid CF     10           12
26  2014/15                Neymar             FC Barcelona     10           12
27  2014/15          Lionel Messi             FC Barcelona     10           13
28  2015/16     Cristiano Ronaldo           Real Madrid CF     16           12
29  2016/17     Cristiano Ronaldo           Real Madrid CF     12           13
30  2017/18     Cristiano Ronaldo           Real Madrid CF     15           13
31  2018/19          Lionel Messi             FC Barcelona     12           10
32  2019/20    Robert Lewandowski        FC Bayern München     15           10
33  2020/21        Erling Haaland        Borussia Dortmund     10            8
34  2021/22         Karim Benzema           Real Madrid CF     15           12

In [118]:
top_goal_scorer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         35 non-null     object
 1   Player       35 non-null     object
 2   Club         35 non-null     object
 3   Goals        35 non-null     Int64
 4   Appearances  35 non-null     Int64
dtypes: Int64(2), object(3)
memory usage: 1.6+ KB

In [119]:
top_goal_scorer.to_csv(
    "Transformed Datasets/top_goal_scorer.csv",
    index=False
)

In [128]:
all_time_ranking_by_club = pd.read_csv(r'Raw Datasets\AllTimeRankingByClub.csv', encoding='utf-16')
all_time_ranking_by_club.head()

,Position,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
0,1,Real Madrid CF,ESP,52,14,464,277,79,108,1021,508.0,633.0,513.0
1,2,FC Bayern München,GER,38,6,372,221,75,76,782,367.0,517.0,415.0
2,3,FC Barcelona,ESP,32,5,333,195,75,63,655,331.0,465.0,324.0
3,4,Manchester United,ENG,30,3,293,160,69,64,533,284.0,389.0,249.0
4,5,Juventus,ITA,36,2,295,152,70,73,470,288.0,374.0,182.0

In [129]:
all_time_ranking_by_club.columns = all_time_ranking_by_club.columns.str.strip()

In [130]:
all_time_ranking_by_club.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Position       530 non-null    int64
 1   Club           530 non-null    object
 2   Country        530 non-null    object
 3   Participated   530 non-null    int64
 4   Titles         530 non-null    int64
 5   Played         530 non-null    int64
 6   Win            530 non-null    int64
 7   Draw           530 non-null    int64
 8   Loss           530 non-null    int64
 9   Goals For      530 non-null    int64
 10  Goals Against  530 non-null    float64
 11  Pts            530 non-null    float64
 12  Goal Diff      530 non-null    float64
dtypes: float64(3), int64(8), object(2)
memory usage: 54.0+ KB

In [131]:
all_time_ranking_by_club['Club'] = all_time_ranking_by_club['Club'].str.strip()
all_time_ranking_by_club['Country'] = all_time_ranking_by_club['Country'].str.strip()

In [132]:
country_map = {
    'ALB': 'Albania', 'AND': 'Andorra', 'ARM': 'Armenia', 'AUT': 'Austria', 'AZE': 'Azerbaijan',
    'BEL': 'Belgium', 'BIH': 'Bosnia and Herzegovina', 'BLR': 'Belarus', 'BUL': 'Bulgaria',
    'CRO': 'Croatia', 'CYP': 'Cyprus', 'CZE': 'Czech Republic', 'DEN': 'Denmark', 'ENG': 'England',
    'ESP': 'Spain', 'EST': 'Estonia', 'FIN': 'Finland', 'FRA': 'France', 'FRO': 'Faroe Islands',
    'GEO': 'Georgia', 'GER': 'Germany', 'GIB': 'Gibraltar', 'GRE': 'Greece', 'HUN': 'Hungary',
    'IRL': 'Ireland', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy', 'KAZ': 'Kazakhstan',
    'KOS': 'Kosovo', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MDA': 'Moldova',
    'MKD': 'North Macedonia', 'MLT': 'Malta', 'MNE': 'Montenegro', 'NED': 'Netherlands',
    'NIR': 'Northern Ireland', 'NOR': 'Norway', 'POL': 'Poland', 'POR': 'Portugal',
    'ROU': 'Romania', 'RUS': 'Russia', 'SCO': 'Scotland', 'SMR': 'San Marino', 'SRB': 'Serbia',
    'SUI': 'Switzerland', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'TUR': 'Turkey',
    'UKR': 'Ukraine', 'WAL': 'Wales'
}

In [133]:
all_time_ranking_by_club['Country Name'] = all_time_ranking_by_club['Country'].map(country_map)

In [134]:
cols = list(all_time_ranking_by_club.columns)
country_idx = cols.index('Country')
cols.insert(country_idx + 1, cols.pop(cols.index('Country Name')))
all_time_ranking_by_club = all_time_ranking_by_club[cols]

In [135]:
print(f"Missing values:\n{all_time_ranking_by_club.isnull().sum()}")
print(f"\nDuplicates found: {all_time_ranking_by_club.duplicated().sum()}")

Missing values:
Position         0
Club             0
Country          0
Country Name     0
Participated     0
Titles           0
Played           0
Win              0
Draw             0
Loss             0
Goals For        0
Goals Against    0
Pts              0
Goal Diff        0
dtype: int64

Duplicates found: 0

In [136]:
all_time_ranking_by_club.to_csv("Transformed Datasets/all_time_ranking_by_club.csv", index=False)

In [4]:
from unidecode import unidecode

# Function to convert player names to proper English characters
def clean_player_names(name):
    return unidecode(name)

# List of DataFrames with player names that need cleaning
player_dataframes = [
    ('Transformed Datasets/player_appear_totals.csv', 'player_appear_totals'),
    ('Transformed Datasets/player_goal_totals.csv', 'player_goal_totals'),
    ('Transformed Datasets/player_appear_details.csv', 'player_appear_details'),
    ('Transformed Datasets/player_goal_details.csv', 'player_goal_details'),
    ('Transformed Datasets/top_goal_scorer.csv', 'top_goal_scorer'),
    ('Transformed Datasets/player_total_appearances.csv', 'player_total_appearances')
]

# Apply cleaning to all player dataframes
for file_path, df_name in player_dataframes:
    try:
        df = pd.read_csv(file_path)
        
        # Clean player names (usually in 'Player' column)
        if 'Player' in df.columns:
            df['Player'] = df['Player'].apply(clean_player_names)
            df.to_csv(file_path, index=False)
            print(f"✓ Cleaned {df_name}: Updated player names")
        else:
            print(f"✗ {df_name}: No 'Player' column found")
    except FileNotFoundError:
        print(f"✗ {df_name}: File not found")
    except Exception as e:
        print(f"✗ {df_name}: Error - {str(e)}")

✓ Cleaned player_appear_totals: Updated player names
✓ Cleaned player_goal_totals: Updated player names
✓ Cleaned player_appear_details: Updated player names
✓ Cleaned player_goal_details: Updated player names
✓ Cleaned top_goal_scorer: Updated player names
✓ Cleaned player_total_appearances: Updated player names

In [5]:
# Rename columns in all_time_ranking_by_club.csv
all_time_ranking_by_club = pd.read_csv('Transformed Datasets/all_time_ranking_by_club.csv')

# Rename columns: Country -> Country_Code, Country Name -> Country
all_time_ranking_by_club = all_time_ranking_by_club.rename(columns={
    'Country': 'Country_Code',
    'Country Name': 'Country'
})

# Save the updated file
all_time_ranking_by_club.to_csv('Transformed Datasets/all_time_ranking_by_club.csv', index=False)

print("✓ Column renaming completed:")
print(f"  - 'Country' renamed to 'Country_Code'")
print(f"  - 'Country Name' renamed to 'Country'")
print(f"\nNew column names: {list(all_time_ranking_by_club.columns)}")

✓ Column renaming completed:
  - 'Country' renamed to 'Country_Code'
  - 'Country Name' renamed to 'Country'

New column names: ['Position', 'Club', 'Country_Code', 'Country_Code', 'Participated', 'Titles', 'Played', 'Win', 'Draw', 'Loss', 'Goals For', 'Goals Against', 'Pts', 'Goal Diff']

In [12]:
# Clean club and coach names across all datasets
from unidecode import unidecode

def clean_names(name):
    """Convert names with non-English characters to proper English"""
    return unidecode(str(name))

# Files with 'Club' column
club_files = [
    'Transformed Datasets/player_appear_details.csv',
    'Transformed Datasets/player_goal_details.csv',
    'Transformed Datasets/top_goal_scorer.csv',
    'Transformed Datasets/all_time_ranking_by_club.csv',
    'Transformed Datasets/coaches_appear_details.csv'
]

# Files with 'Coach' column
coach_files = [
    'Transformed Datasets/coaches_appear_details.csv',
    'Transformed Datasets/coaches_appear_totals.csv'
]

# Clean Club names
print("Cleaning Club Names:")
for file_path in club_files:
    try:
        df = pd.read_csv(file_path)
        if 'Club' in df.columns:
            df['Club'] = df['Club'].apply(clean_names)
            df.to_csv(file_path, index=False)
            print(f"  ✓ {file_path.split('/')[-1]}: Club names cleaned")
        else:
            print(f"  - {file_path.split('/')[-1]}: No 'Club' column")
    except FileNotFoundError:
        print(f"  ✗ {file_path}: File not found")
    except Exception as e:
        print(f"  ✗ {file_path}: Error - {str(e)}")

# Clean Coach names
print("\nCleaning Coach Names:")
for file_path in coach_files:
    try:
        df = pd.read_csv(file_path)
        if 'Coach' in df.columns:
            df['Coach'] = df['Coach'].apply(clean_names)
            df.to_csv(file_path, index=False)
            print(f"  ✓ {file_path.split('/')[-1]}: Coach names cleaned")
        else:
            print(f"  - {file_path.split('/')[-1]}: No 'Coach' column")
    except FileNotFoundError:
        print(f"  ✗ {file_path}: File not found")
    except Exception as e:
        print(f"  ✗ {file_path}: Error - {str(e)}")

print("\n✓ All names cleaned successfully!")

Cleaning Club Names:
  ✓ player_appear_details.csv: Club names cleaned
  ✓ player_goal_details.csv: Club names cleaned
  ✓ top_goal_scorer.csv: Club names cleaned
  ✓ all_time_ranking_by_club.csv: Club names cleaned
  ✓ coaches_appear_details.csv: Club names cleaned

Cleaning Coach Names:
  ✓ coaches_appear_details.csv: Coach names cleaned
  ✓ coaches_appear_totals.csv: Coach names cleaned

✓ All names cleaned successfully!

In [7]:
# Fix the duplicate column issue in all_time_ranking_by_club.csv
all_time_ranking_by_club = pd.read_csv('Transformed Datasets/all_time_ranking_by_club.csv')

# Check and fix column names
print("Current columns:", list(all_time_ranking_by_club.columns))

# If there are duplicate column names, fix them
if 'Country_Code.1' in all_time_ranking_by_club.columns:
    all_time_ranking_by_club.columns = ['Position', 'Club', 'Country_Code', 'Country', 
                                         'Participated', 'Titles', 'Played', 'Win', 'Draw', 
                                         'Loss', 'Goals For', 'Goals Against', 'Pts', 'Goal Diff']
    all_time_ranking_by_club.to_csv('Transformed Datasets/all_time_ranking_by_club.csv', index=False)
    print("✓ Fixed duplicate column names")
    print("New columns:", list(all_time_ranking_by_club.columns))
else:
    print("✓ No duplicate columns found")

Current columns: ['Position', 'Club', 'Country_Code', 'Country_Code.1', 'Participated', 'Titles', 'Played', 'Win', 'Draw', 'Loss', 'Goals For', 'Goals Against', 'Pts', 'Goal Diff']
✓ Fixed duplicate column names
New columns: ['Position', 'Club', 'Country_Code', 'Country', 'Participated', 'Titles', 'Played', 'Win', 'Draw', 'Loss', 'Goals For', 'Goals Against', 'Pts', 'Goal Diff']

In [11]:
# Standardize club names across all datasets
# Create a mapping from various club name variations to the standard name

club_name_mapping = {
    # Manchester United variations
    'Manchester United FC': 'Manchester United',
    
    # Other potential variations (add as needed)
    'Bayern Munich': 'FC Bayern Munchen',
    'Bayern Munchen': 'FC Bayern Munchen',
    'Barcelona': 'FC Barcelona',
    'Real Madrid': 'Real Madrid CF',
    'Inter Milan': 'FC Internazionale Milano',
    'Internazionale': 'FC Internazionale Milano',
    'Atletico Madrid': 'Club Atletico de Madrid',
    'PSG': 'Paris Saint-Germain',
    'Lyon': 'Olympique Lyonnais',
    'Porto': 'FC Porto',
    'Ajax': 'AFC Ajax',
    'Benfica': 'SL Benfica',
    'Monaco': 'AS Monaco FC',
    'Schalke 04': 'FC Schalke 04',
    'Schalke': 'FC Schalke 04',
}

def standardize_club_name(club_name):
    """Standardize club names using the mapping"""
    return club_name_mapping.get(club_name, club_name)

# Files that contain club names
files_with_clubs = [
    'Transformed Datasets/player_appear_details.csv',
    'Transformed Datasets/player_goal_details.csv',
    'Transformed Datasets/top_goal_scorer.csv',
    'Transformed Datasets/all_time_ranking_by_club.csv',
    'Transformed Datasets/coaches_appear_details.csv',
    'Transformed Datasets/coaches_appear_totals.csv'
]

print("Standardizing Club Names:")
for file_path in files_with_clubs:
    try:
        df = pd.read_csv(file_path)
        if 'Club' in df.columns:
            # Store original unique clubs for comparison
            original_clubs = df['Club'].nunique()
            
            # Apply standardization
            df['Club'] = df['Club'].apply(standardize_club_name)
            
            # Save back
            df.to_csv(file_path, index=False)
            
            new_clubs = df['Club'].nunique()
            print(f"  ✓ {file_path.split('/')[-1]}: {original_clubs} → {new_clubs} unique clubs")
        else:
            print(f"  - {file_path.split('/')[-1]}: No 'Club' column")
    except FileNotFoundError:
        print(f"  ✗ {file_path}: File not found")
    except Exception as e:
        print(f"  ✗ {file_path}: Error - {str(e)}")

print("\n✓ Club name standardization complete!")

Standardizing Club Names:
  ✓ player_appear_details.csv: 67 → 67 unique clubs
  ✓ player_goal_details.csv: 60 → 60 unique clubs
  ✓ top_goal_scorer.csv: 14 → 14 unique clubs
  ✓ all_time_ranking_by_club.csv: 530 → 530 unique clubs
  ✓ coaches_appear_details.csv: 49 → 49 unique clubs
  - coaches_appear_totals.csv: No 'Club' column

✓ Club name standardization complete!

In [9]:
# Standardize coach names across all datasets
coach_name_mapping = {
    # Common variations
    'Pep Guardiola': 'Josep Guardiola',
    'Alex Ferguson': 'Sir Alex Ferguson',
    'Jose Mourinho': 'Jose Mourinho',
    'Carlo Ancelotti': 'Carlo Ancelotti',
    'Zinedine Zidane': 'Zinedine Zidane',
    'Jurgen Klopp': 'Jurgen Klopp',
    'Diego Simeone': 'Diego Simeone',
    'Luis Enrique': 'Luis Enrique Martinez',
    'Antonio Conte': 'Antonio Conte',
    'Arsene Wenger': 'Arsene Wenger',
    # Add more variations as needed
}

def standardize_coach_name(name):
    """Standardize coach names using the mapping"""
    return coach_name_mapping.get(name, name)

# Files that contain coach names
files_with_coaches = [
    'Transformed Datasets/coaches_appear_details.csv',
    'Transformed Datasets/coaches_appear_totals.csv'
]

print("Standardizing Coach Names:")
for file_path in files_with_coaches:
    try:
        df = pd.read_csv(file_path)
        if 'Coach' in df.columns:
            original_coaches = df['Coach'].nunique()
            df['Coach'] = df['Coach'].apply(standardize_coach_name)
            df.to_csv(file_path, index=False)
            new_coaches = df['Coach'].nunique()
            print(f"  ✓ {file_path.split('/')[-1]}: {original_coaches} → {new_coaches} unique coaches")
        else:
            print(f"  - {file_path.split('/')[-1]}: No 'Coach' column")
    except FileNotFoundError:
        print(f"  ✗ {file_path}: File not found")
    except Exception as e:
        print(f"  ✗ {file_path}: Error - {str(e)}")

print("\n✓ Coach name standardization complete!")

Standardizing Coach Names:
  ✓ coaches_appear_details.csv: 39 → 39 unique coaches
  ✓ coaches_appear_totals.csv: 39 → 39 unique coaches

✓ Coach name standardization complete!

In [10]:
# Standardize player names across all datasets
player_name_mapping = {
    # Common variations - map shorter names to full names
    'Ronaldo': 'Cristiano Ronaldo',
    'Messi': 'Lionel Messi',
    'Neymar': 'Neymar Jr',
    'Cristiano': 'Cristiano Ronaldo',
    'CR7': 'Cristiano Ronaldo',
    'Leo Messi': 'Lionel Messi',
    'Raul': 'Raul Gonzalez',
    'Xavi': 'Xavi Hernandez',
    'Iniesta': 'Andres Iniesta',
    'Sergio Ramos': 'Ramos',
    'Zlatan': 'Zlatan Ibrahimovic',
    'Lewandowski': 'Robert Lewandowski',
    'Benzema': 'Karim Benzema',
    'Muller': 'Thomas Muller',
    'Neuer': 'Manuel Neuer',
    'Buffon': 'Gianluigi Buffon',
    'Casillas': 'Iker Casillas',
    'Van Nistelrooy': 'Ruud van Nistelrooy',
    'Ruud Van Nistelrooy': 'Ruud van Nistelrooy',
    'Van Persie': 'Robin van Persie',
    'Robin Van Persie': 'Robin van Persie',
    'Van der Sar': 'Edwin van der Sar',
    'Edwin Van der Sar': 'Edwin van der Sar',
    'De Bruyne': 'Kevin De Bruyne',
    'Kevin de Bruyne': 'Kevin De Bruyne',
}

def standardize_player_name(name):
    """Standardize player names using the mapping"""
    return player_name_mapping.get(name, name)

# Files that contain player names
files_with_players = [
    'Transformed Datasets/player_appear_totals.csv',
    'Transformed Datasets/player_goal_totals.csv',
    'Transformed Datasets/player_appear_details.csv',
    'Transformed Datasets/player_goal_details.csv',
    'Transformed Datasets/top_goal_scorer.csv',
    'Transformed Datasets/player_total_appearances.csv'
]

print("Standardizing Player Names:")
for file_path in files_with_players:
    try:
        df = pd.read_csv(file_path)
        if 'Player' in df.columns:
            original_players = df['Player'].nunique()
            df['Player'] = df['Player'].apply(standardize_player_name)
            df.to_csv(file_path, index=False)
            new_players = df['Player'].nunique()
            print(f"  ✓ {file_path.split('/')[-1]}: {original_players} → {new_players} unique players")
        else:
            print(f"  - {file_path.split('/')[-1]}: No 'Player' column")
    except FileNotFoundError:
        print(f"  ✗ {file_path}: File not found")
    except Exception as e:
        print(f"  ✗ {file_path}: Error - {str(e)}")

print("\n✓ Player name standardization complete!")

Standardizing Player Names:
  ✓ player_appear_totals.csv: 277 → 277 unique players
  ✓ player_goal_totals.csv: 185 → 185 unique players
  ✓ player_appear_details.csv: 277 → 277 unique players
  ✓ player_goal_details.csv: 185 → 185 unique players
  ✓ top_goal_scorer.csv: 20 → 20 unique players
  ✓ player_total_appearances.csv: 277 → 277 unique players

✓ Player name standardization complete!